*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
	padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}
ul{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
:root{
    --pr-fill-color:#f4f4fd;
    --prm-link-button-color:rgba(231, 233, 252, 0.4);
    --active-link-box-color: hsl(235, 50%, 50%, 0.67);
    --pr-hov-color:#31d0aa;
    --prm-link-color:#8e8f99;
    --primary-title-color: #434455;
    --primary-white-color: #FFFFFF;
    --primary-accent-color: #2e2f42;
    --secondary-accent-color: #4d5ae5;
    --active-link-color: #404bbf;
    --primary-fon-color: #F4F4FD;
    --primary-border-color: #e7e9fc;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: var(--primary-title-color);
    background-color: var(--primary-white-color);
}
/* block navigation */
.wrapper{
    display: flex;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.link-span{
    color: var(--primary-accent-color);
    text-transform: uppercase;
}
.head{
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    color: var(--secondary-accent-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.block-sidebar{
    border-bottom: 1px solid var(--primary-border-color);
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.heder-nav, .info-styles{
    display: flex;
    align-items: center;
}
.block-sidebar-title{
    display: flex;
    gap: 40px;
}
.info{
    display: flex;
    gap: 40px;
}
.link{
    text-decoration: none;
}
.styls{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.styls:hover, .styls:focus{
    color: var(--active-link-color);
}
.st-one{
    color: var(--active-link-color);
}
.st-tw{
    color: var(--active-link-color);
}
.st-one::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--active-link-color);
    border-radius: 2px;

}
.st-tw::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--active-link-color);
    border-radius: 2px;
}
.info-styles{
    font-style: normal;
    margin-left: auto;
}

.inform{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.inform:hover, .inform:focus{
    color: var(--active-link-color);
}

/* header block */
.title{
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--primary-accent-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);  
}
.head-titl{
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

.title-button{
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--secondary-accent-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-button:hover, .title-button:focus{
    background-color: var(--active-link-color);
    cursor: pointer;
}


/* section advantages */
.sprit-icon{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.container-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--primary-fon-color);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 24px 100px;
}
.icon-antenna{
    color: #434455;
    fill: #4d5ae5;
    stroke: #4d5ae5;
    

}
.list{
    list-style: none;
}
.content-advantages{
    padding: 120px 0;
}
.advantages{
    display: flex;
    gap: 24px;
}
.advantages-content{
    width: calc((100% - 72px) / 4);
}
.advan-header{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
}
.advantages-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
}

/* images block */
.images-block{
    padding-bottom: 120px; 
}
.what-are{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-accent-color);
}
.what-are-images{
    display: flex;
    gap: 24px;
}
/* team block */
.team{
    padding: 120px 0;
    background-color: var(--primary-fon-color);
}
.team-images{
    display: flex;
    gap: 24px;
}
.team-images-block{
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
}
.tm-text{
    padding: 32px 0;
}
.icn-li{
    fill: var(--pr-fill-color);
}
.symbol-icon{
    width: 40px;
    height: 40px;
}
.icon-link-logo{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-logo:hover, .icon-link-logo:focus{
    background-color: var(--active-link-color);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}
.team-name{
    text-align: center;
    margin-bottom: 8px;
}
.team-text{
    text-align: center;
    margin-bottom: 8px;
}
.symbol-logo{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 32px;
}
/* section customers*/
.customers{
    padding: 120px 0;
}
.cust{
    display: flex;
    gap: 24px;
}
.titl-cust{
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.icon-cust{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--prm-link-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.icon-cust:hover, .icon-cust:focus{
    border-color: var(--active-link-color);
    color: var(--active-link-color);
}
.icon-mein:hover, .icon-mein:focus{
    stroke: var(--active-link-color);
    color: var(--active-link-color);
}
.icon-mein{
    fill: currentColor;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
/* footer-seting */
.foot{
    padding: 100px 0;
    background-color: var(--primary-accent-color);
}
.foot-cont{
    display: flex;
    align-items: baseline;
}
.foot-log{
    margin-right: 120px;
}
.foot-span{
    color: var(--primary-fon-color);
}
.footer-link{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text{
    max-width: 264px;
    line-height: 1.5;
    color: var(--primary-fon-color);
    letter-spacing: 0.02em;
}
.text-footer{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    margin-bottom: 16px;

}
.symbol-logo-foot{
    display: flex;
    gap: 16px;
}

.icon-lin-log{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-lin-log{
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--pr-fill-color);
}
.icon-lin-log:hover, .icon-lin-log:focus{
    background-color: #31d0aa;
    border-radius: 50%;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
    color: var(--pr-fill-color);
}
.icn-lin{
    fill: currentColor;
}

/* Portfolio */
.lk-img-butt{
    padding: 96px 0 120px 0;
}
.box-button{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px
}
.butt-con{
    padding: 12px 24px;
    border: 1px solid var(--primary-border-color);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--secondary-accent-color);
    background-color: var(--primary-fon-color);
}
.butt-con:hover, .butt-con:focus{
    border: 1px solid transparent;
    color: var(--primary-white-color);
    background-color: var(--active-link-color);
    cursor: pointer;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

/* block img grop */
.wrapper{
    display: flex;
    align-items: baseline;
}
/* overlay */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: var(--active-link-box-color);
    border-radius: 2px;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}
.ing-wrapper:hover .overlay {
    transform: translateY(0);
}
.ing-wrapper{
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.box-sp{
    overflow: hidden;
    width: calc((100% - 48px) / 3);
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}
.box-sp:hover, .box-sp:focus{
    background-image: linear-gradient(
    rgba(43, 51, 199, 0.7),
    rgba(40, 48, 206, 0.7)
) url(../images/portfolio/section1img1.jpg);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}
.blu-box{
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}
.blu-box:hover, .blu-box:focus{
    background-image: linear-gradient(
        rgba(43, 51, 199, 0.7),
        rgba(40, 48, 206, 0.7)
    ) url(../images/portfolio/section1img1.jpg);
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.box-images-bank{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.box-bank{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
}
.box-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
}
.border-img{
    padding: 32px 16px;
    border: 1px solid var(--primary-border-color);
    border-top: none;
}
/* modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .is-hidden{
    display: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close{
    fill: currentColor;
}
.icon-close-black{
    position: absolute;
    top: 7px;
    left: 7px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-butt{
    position: absolute;
    align-items: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    background-color: var(--primary-border-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-butt:hover, .modal-butt:focus{
    background-color: var(--active-link-color);
    border: none;
    color: #FFFFFF;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
