
:root{
    --primary-title-color: #434455;
    --primary-white-color: #FFFFFF;
    --primary-accent-color: #2e2f42;
    --secondary-accent-color: #4d5ae5;
    --active-link-color: #404bbf;
    --primary-fon-color: #F4F4FD;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    color: var(--primary-title-color);
    background-color: var(--primary-white-color);
}
/* block navigation */
.link-span{
    color: var(--primary-accent-color);
    text-transform: uppercase;
}
.head{
    font-family: "Raleway", sans-serif;
    color: var(--secondary-accent-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.link{
    text-decoration: none;
}
.styls{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
}
.st-one:focus{
    color: var(--active-link-color);
}
.styls:hover{
    color: var(--active-link-color);
}
.info-styles{
    font-style: normal;
}
.inform{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
} 
.inform:hover, .inform:focus{
    color: var(--active-link-color);
}

/* header block */
.title{
    background-color: var(--primary-accent-color);
}
.head-titl{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--primary-white-color);
}

.title-button{
    background-color: var(--secondary-accent-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
}
.title-button:hover, .title-button:focus{
    background-color: var(--active-link-color);
    cursor: pointer;
}


/* section advantages */
.list{
    list-style: none;
}
.advan-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
}
.advantages-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
}

/* images block */
.what-are{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-accent-color);
}
/* team block */
.team{
    background-color: var(--primary-fon-color);
}
.team-images-block{
    background-color: var(--primary-white-color);
}

/* footer-seting */
.foot{
    background-color: var(--primary-accent-color);
}
.foot-span{
    color: var(--primary-fon-color);
}
.footer-text{
    line-height: 1.5;
    color: var(--primary-fon-color);
    letter-spacing: 0.02em;
}

/* Portfolio */
.butt{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--secondary-accent-color);
    background-color: var(--primary-fon-color);
}
.butt:hover, .butt:focus{
    color: var(--primary-white-color);
    background-color: var(--active-link-color);
    cursor: pointer;
}

/* block img grop 1 */
.box-bank{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
}
.box-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
}